<div id="start">
  Witaj na stronie naszego kina.<br/>
  Kliknij na zakładkę repertuar, aby zobaczyć co aktualnie gramy.<br/>
  Gdy klikniesz na zakładkę aktorzy zapoznasz się z postaciami, które w nich występują.<br/><br/>
  Miłej zabawy!  
</div>